<footer class="text-center text-white fixed-bottom" style="background-color: #f1f1f1;">
  <div class="container">
    <section class="py-3">
      <a
        class="btn btn-link btn-floating btn-sm text-dark m-1"
        href="https://www.facebook.com/sergej.vukasovic/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark">
        <i>Facebook</i>
      </a>

      <a
        class="btn btn-link btn-floating btn-sm text-dark m-1"
        href="https://twitter.com/gase_273"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark">
        <i>Twitter</i>
      </a>

      <a
        class="btn btn-link btn-floating btn-sm text-dark m-1"
        href="https://www.instagram.com/sergejvukas/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark">
        <i>Instagram</i>
      </a>

      <a
        class="btn btn-link btn-floating btn-sm text-dark m-1"
        href="https://www.linkedin.com/in/sergej-vukasovic/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark">
        <i>LinkedIn</i>
      </a>

      <a
        class="btn btn-link btn-floating btn-sm text-dark m-1"
        href="https://github.com/gase273"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark">
        <i>Github</i>
      </a>
    </section>
  </div>
</footer>
